:root {
	--background: hsl(var(--background));
	--foreground: hsl(var(--foreground));
	--primary: hsl(var(--primary));
	--primary-foreground: hsl(var(--primary-foreground));
	--border-radius-lg: var(--radius); /* Example using border radius variable */
}

* {
	padding: 0;
	margin: 0;
	color: hsl(var(--foreground));
}

h2 {
	color: aliceblue;
}

.url-card {
	background-color: #111221;
	/* border-radius: 5%; */
	/* border: none; */
}

.url-card:hover {
	border-color: hsl(var(--primary));
	/* border-radius: 5%; */
}

.round-badge {
	background-color: hsl(var(--primary));
}

.expand-top {
	max-height: 300px;
	overflow-y: auto;
	resize: none;
	transition: height 0.1s ease-out;
}

.expand-top::-webkit-scrollbar {
	width: 6px;
}

.expand-top::-webkit-scrollbar-track {
	background: #f1f1f1;
}

.expand-top::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 3px;
}

.expand-top::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.rotating-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.rotating-svg {
	display: inline-block;
	animation: rotate 2s linear infinite;
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
